## for maven.
/bin
/target

## for eclipse.
/.settings
/.classpath
/.factorypath
/.project

## for tmporary file.
*~
~*
\#*\#

## for memo
/memo

## for testdata
/src/test/out

## for coverage
/coverage
/coverage.exec

